html {
    height: 100%;
}

body {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 204, .3), rgba(0, 0, 204, .8)), url('../img/hypnotize.png');
    font-family: 'Raleway', sans-serif;
}